.MovieCard {
    padding: 2rem;
}

.MovieCard span {
    font-size: 18px;
}

.MovieCard .overview {
    text-align: justify;
}

img.image {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}